div(flex="20", layout="vertical", layout-align="space-around", id="badgeContainer")
  div(layout="horizontal")
    a.badgeLabel(flex="50", href="http://ci.societypro.org:8080/job/Cambrian-src_Master_Linux/") Linux
    span(flex="50")
      :markdown
        [![Build Status](http://ci.societypro.org:8080/job/Cambrian-src_Master_Linux/badge/icon)](http://ci.societypro.org:8080/job/Cambrian-src_Master_Linux/)
  div(layout="horizontal")
    a.badgeLabel(flex="50", href="http://ci.societypro.org:8080/job/Cambrian-src_Master_Windows/") Windows
    span(flex="50")
      :markdown
        [![Build Status](http://ci.societypro.org:8080/job/Cambrian-src_Master_Windows/badge/icon)](http://ci.societypro.org:8080/job/Cambrian-src_Master_Windows/)