h1 The code for the above cards:
md-whiteframe.md-whiteframe-z1(layout, layout-align="center center")
  pre
    code.
      h1 Hello Team!
        md-whiteframe.md-whiteframe-z1(layout, layout-align="center center")
          md-card
            include:md ../markdown/card-demo.md
          md-card
            :markdown
              **X**treme  
              **P**rogramming  
              **TEAM**
          md-card
            :markdown
              These cards made with **angular-material**,  
              **Markdown**, **Jade**, and **Grunt**  
              for *fast* and *flexible* **material design prototyping**.
