doctype html
html
  head
    title SocietyPro Playbook
    link(rel="stylesheet", href="assets/playbook.css")
    link(rel="stylesheet", href="bower_components/sopro-material/angular-material.css")
    script(src="//localhost:35729/livereload.js", type="text/javascript")
  body
    include:md markdown/header.md
    include:md markdown/body.md
    include:md markdown/footer.md