doctype html
html
  head
    link(rel="stylesheet", href="assets/playbook.css")
    title SocietyPro Playbook
    script(src="//localhost:35729/livereload.js", type="text/javascript")
  body
    include:md header.md
    include:md body.md
    include:md footer.md